<div class="flex justify-between items-center">
    <h3 class="text-lg font-bold">Settings</h3>
    <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost">✕</button>
    </form>
</div>
<form id="settings-form">
    <ul
        class="list grid grid-cols-[auto_1fr] *:grid *:grid-cols-subgrid *:col-span-2"
    >
        <li class="list-row">
            <label class="label">Panning speed</label>
            <input
                class="input"
                id="panning-speed"
                type="number"
                min="0.001"
                step="0.001"
                required
                name="panningSpeed"
            />
        </li>

        <li class="list-row">
            <label class="label">Zoom speed</label>
            <input
                class="input"
                id="zoom-speed"
                type="number"
                min="0.001"
                step="0.001"
                required
                name="zoomSpeed"
            />
        </li>

        <li class="list-row">
            <label class="label">Grid zoom level</label>
            <input
                class="input"
                id="grid-zoom-level"
                type="number"
                min="0.001"
                max="1"
                step="0.001"
                required
                name="minimumZoomForGrid"
            />
        </li>

        <li class="list-row">
            <label class="label">Simulation width</label>
            <input
                class="input"
                id="simulation-width"
                type="number"
                min="32"
                step="1"
                required
                name="width"
            />
        </li>

        <li class="list-row">
            <label class="label">Simulation height</label>
            <input
                class="input"
                id="simulation-height"
                type="number"
                min="32"
                step="1"
                required
                name="height"
            />
        </li>

        <li class="list-row">
            <label class="label">Simulation density</label>
            <input
                class="input"
                id="simulation-density"
                type="number"
                min="0.001"
                max="1"
                step="0.001"
                required
                name="density"
            />
        </li>

        <li class="list-row">
            <label class="label">Simulation delay</label>
            <input
                class="input"
                id="simulation-delay"
                type="number"
                min="1"
                step="1"
                required
                name="simulationDelay"
            />
        </li>

        <li class="list-row">
            <label class="label">Brush thickness</label>
            <input
                class="input"
                id="brush-thickness"
                type="number"
                min="1"
                step="1"
                required
                name="brushThickness"
            />
        </li>
    </ul>

    <div class="flex justify-end mt-4">
        <button type="submit" class="btn">Save</button>
    </div>
</form>
