<div class="flex justify-between items-center">
    <h3 class="text-lg font-bold">Shortcuts</h3>
    <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost">✕</button>
    </form>
</div>
<ul class="list">
    <li class="list-row">
        <div>
            <kbd class="kbd">W</kbd>
            <kbd class="kbd">A</kbd>
            <kbd class="kbd">S</kbd>
            <kbd class="kbd">D</kbd>
        </div>
        <div>Pan up, left, down, right</div>
    </li>
    <li class="list-row">
        <div>
            <kbd class="kbd">Z</kbd>
            <kbd class="kbd">X</kbd>
        </div>
        <div>Zoom in, out</div>
    </li>
    <li class="list-row">
        <div>
            <kbd class="kbd">C</kbd>
            <kbd class="kbd">R</kbd>
        </div>
        <div>Clear, randomize cells</div>
    </li>
    <li class="list-row">
        <div>
            <kbd class="kbd">SPACE</kbd>
        </div>
        <div>Pause/resume</div>
    </li>
    <li class="list-row">
        <div>
            <kbd class="kbd">N</kbd>
        </div>
        <div>Single step</div>
    </li>
    <li class="list-row">
        <div>
            <kbd class="kbd">L/R Click</kbd>
        </div>
        <div>Revive/kill cell</div>
    </li>
</ul>
